<div class="col-md-6" id="checkout">
  <div class="box">
    <h1>Checkout - Order review</h1>

    <div class="content">
      <div class="table-responsive">
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th>Product</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Unit price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% current_cart.each do |item| %>
            <%= render "item_review", product: find_product_by_id(item["product_id"]), item: Item.new(item["product_id"],item["quantity"]), show_total: true %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5">Total</th>
              <th><%= total_cart %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
