<tr>
                                            <td>
                                                <a href="#">
                                                    <!-- <img src="img/detailsquare.jpg" alt="White Blouse Armani"> -->
                                                </a>
                                            </td>
                                            <td><a href="#"><%= item.product_id %></a>
                                            </td>
                                            <td>
                                                <input type="number" value="2" class="form-control">
                                            </td>
                                            <td><%= product.price %> VND</td>
                                            <td>0.00</td>
                                            <td></td>
                                            <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
